@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Rochester&display=swap');
::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background: $background-color_2;
    border-radius: 5px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
    scroll-behavior: smooth !important;  
    font-family: $body-font;
    background: url(/assets/school_photos/blob-scatter-haikei_3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    line-height: 1.5;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}