/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}
/*=============== REUSABLE CSS CLASSES ===============*/

.container {
  max-width: 1200px;
  margin-inline: 1.5rem;
}

.btn {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3876bf;
  cursor: pointer;
  width: 200px;
  height: 50px;
  transition: 0.3s ease;

  &:hover {
    transform: scale(110%);
    background-color: #6ec1e4;
    color: #fff;
  }
}

/*=============== HEADER ===============*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $background-color_2;
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: $z-fixed;
}

/*=============== NAV ===============*/

.nav {
  height: $header-height;
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  width: 250px;
  height: auto;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger {
  color: #efefef;
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  color: #efefef;
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .nav__list {
    background-color: $background-color;
    padding: 1rem;
  }
}

.nav__link {
  color: #fff;
  font-weight: $font-medium;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;

  &:hover {
    background-color: #fff;
    color: $black-color-light;
  }
}

.sign-container {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 5rem;
  align-items: center;
  justify-content: space-around;
  gap: 25px;


    .btn41-43 {
      padding: 10px 25px;
      border-radius: 5px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      background: transparent;
      outline: none !important;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
    }

    .btn-43 {
      border: 1px solid rgb(255, 255, 255);
      z-index: 1;
      color: white;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        z-index: -1;
        background: rgb(255, 255, 255);
        transition: all 0.3s ease;
      }

      &:hover {
        color: rgb(0, 0, 0);
      }

      &:hover::after {
        top: auto;
        bottom: 0;
        height: 100%;
      }
    }
  
}

/* Show menu */

.show-menu {
  opacity: 1;
  top: 5rem;
  pointer-events: initial;
}

/* Show icon */

.show-icon {
  .nav__burger {
    opacity: 0;
    transform: rotate(90deg);
  }

  .nav__close {
    opacity: 1;
    transform: rotate(90deg);
  }
}

/*=============== DROPDOWN ===============*/

.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__link,
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: #efefef;
  background-color: #3876bf;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 500;
  transition: background-color 0.3s;

  p {
    letter-spacing: -1px;
  }
}

.dropdown__link i,
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
  background-color: #fff;
  color: $black-color-light;
}

.dropdown__menu,
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
}

/* Show dropdown menu & submenu */

.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
}

/* Rotate dropdown icon */

.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/

.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}
/*=============== SWIPER ===============*/
.swiper-wrapper{
  margin-top: 5rem;
.slide{
    display: flex;
    height: 56rem;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;

    .content{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 15px;
      width: 50rem;

      h3{
        font-size: 5rem;
        color: $body-color;
        font-family: "raleway", sans-serif;
        font-weight: 600;
      }

      p{
        font-size: 1rem;
        line-height: 1;
        color: #d9d9d9;
        padding: 1rem 0;
      }

      span{
        color: #3876bf;
        font-weight: 500;
      }

      a{
        cursor: pointer;
      }
    }
}

}

/*=============== SMALL ABOUT SECTION ===============*/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  max-width: 50ch;
  z-index: 9999;
  border: 0;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  border-radius: 10px;
  transition: .5s ease-in;
  & > *{
    margin: 0 0 0.5rem 0;
  }

  &::backdrop{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
 

  .close i{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    padding: 0 5px 0 0;
    cursor: pointer;
    font-size: 1.5rem;
    color: #fff;
}

.content {
  min-width: 350px;
  max-height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;

  .main-content{
    position: absolute;
    margin-top: 10px;
    top: 0;
    width: 100%;    
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    h2{
        font-size: 1.5rem;
        font-weight: 300;
        color: #fff;
    }

    p{
        font-size: 15px;
        font-weight: 300;
        color: rgb(131, 131, 131);
    }

    span{
        color: #fff;
    }
  }

  .buttons-container{
    width: 100%;
    height: 300px;
    display: flex;
    padding: 10px;
    margin-top: 85px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    

    .btn{
        width: 250px;
        height: 250px;
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease;
        border: 1px solid #fff;
        background-color: #274c8e;
        border-radius: 50px;
        a{
            text-decoration: none;
            color: #fff;
            font-size: 1.5rem;
            font-weight: 500;
        }

    &:hover{
        background-color: #006bb3;
        color: #333;
        border-color: #fff;
        transform: scale(110%);
    }
    } 
  }
}
 
}

/*=============== SMALL ABOUT SECTION ===============*/

.about {
  background: $black-color-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
  .section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;


    .box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 50%;

      .content_1 {
        display: flex;
        flex-direction: column;
        color: #fff;
        margin: 50px;
        h1 {
          line-height: 1.5;
          font-size: 4.5rem;
          font-weight: 700;
          text-align: start;
        }

        p {
          text-align: start;
          width: 20rem;
          font-size: 20px;
          font-weight: 500;
        }
      }

      .button-container {
        background-color: #fff;
        border-radius: 5px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #3876bf;
        cursor: pointer;
        width: 200px;
        height: 50px;
        transition: 0.3s ease;

        &:hover {
          transform: scale(110%);
          background-color: #6ec1e4;
          color: #fff;
        }
      }
    }

    .containers {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;

      .slider-wrapper {
        position: relative;
        max-width: 48rem;
        margin: 0 auto;
      }

      .slider {
        display: flex;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        box-shadow: 8px 9px 25px -8px rgba(0, 0, 0, 0.66);
        border-radius: 1rem;

        img {
          flex: 1 0 100%;
          scroll-snap-align: start;
          object-fit: cover;
        }
      }

      .slider-nav {
        display: flex;
        column-gap: 1rem;
        position: absolute;
        bottom: 1.25rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        a {
          width: 0.5rem;
          height: 0.5rem;
          border-radius: 50%;
          background-color: #fff;
          opacity: 0.75;
          transition: opacity ease 250ms;

          &:hover {
            opacity: 2;
          }
        }
      }
    }
  }
}

/*=============== Footer ===============*/
.footer {
  padding: 55px 10% 55px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  gap: 1rem;
  background-color: $background-color_2;
  position: absolute;
  left: 0;
  right: 0;

  .footer-content {
    cursor: pointer;
    img {
      display: inline-flex;
      align-items: center;
      max-width: 250px;
      height: auto;
    }
    h4 {
      color: #fff;
      margin-bottom: 1.5rem;
      font-size: 30px;
      font-weight: 600;
    }

    li {
      margin-bottom: 10px;

      a {
        display: block;
        color: #d6d6d6;
        font-size: 15px;
        font-weight: 400;
        transition: all 0.4s ease;

        &:hover {
          transform: translateY(-3px) translate(-5px);
          color: #fff;
        }
      }
    }

    .text-content {
      display: flex;
      max-width: 400px;
      padding: 10px;
      overflow-x: hidden;

      p {
        color: #d6d6d6;
        font-size: 16px;
        line-height: 30px;
      }
    }
  }

  .icons a {
    display: inline-block;
    font-size: 50px;
    color: #d6d6d6;
    margin-right: 17px;
    transition: all 0.4s ease;

    &:hover {
      color: #fff;
      transform: translateY(-3px);
    }
  }
}
/*=============== BACKTOP ===============*/
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 1690px) {
  .footer {
    padding: 50px 5% 40px;
  }
}

@media screen and (max-width: 1120px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
  }
}

@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }

  .content_1 {
    align-items: center;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
.swiper-wrapper {
  .slide{
    height: 35rem;
  }
}

.swiper-wrapper .slide .content h3{
  font-size: 3rem;
}

  @media screen and (max-width: 700px) {
    .footer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, auto));
      gap: 2.5rem;

      .icons {
        font-size: 50px;
      }

      .footer-content {
        text-align: center;
        h4 {
          font-size: 30px;
          font-weight: 700;
        }
      }
    }
  }
}
/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var($header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }

  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;

    &:hover {
      background-color: transparent;
    }
  }

  .dropdown__item,
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu,
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
  }

  .dropdown__link,
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: 0.5rem;
  }

  /* Show dropdown menu */

  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5rem;
    pointer-events: initial;
  }

  /* Show dropdown submenu */

  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
  }
}
