/*========== Colors ==========*/
/*Color mode HSL(hue, saturation, lightness)*/
/*========== Font and typography ==========*/
/*.5rem = 8px | 1rem = 16px ...*/
/*========== Font weight ==========*/
/*========== z index ==========*/
/*========== MIXINS ==========*/
/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Rochester&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Rochester&display=swap");
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: hsl(204, 100%, 35%);
  border-radius: 5px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  scroll-behavior: smooth !important;
  font-family: "Poppins", sans-serif;
  background: url(../blob_3.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  line-height: 1.5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1725px;
  margin-inline: 1.5rem;
}

.btn {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3876bf;
  cursor: pointer;
  width: 200px;
  height: 50px;
  transition: 0.3s ease;
}
.btn:hover {
  transform: scale(110%);
  background-color: #6ec1e4;
  color: #fff;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: hsl(204, 100%, 35%);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: 200;
}

/*=============== NAV ===============*/
.nav {
  height: 5rem;
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  width: 250px;
  height: auto;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger {
  color: #efefef;
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  color: #efefef;
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: hsl(202.75, 66.81%, 44.9%);
    padding: 1rem;
  }
}
.nav__link {
  color: #fff;
  font-weight: 500;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}
.nav__link:hover {
  background-color: #fff;
  color: hsl(220, 24%, 15%);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__link,
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: #efefef;
  background-color: #3876bf;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 500;
  transition: background-color 0.3s;
}
.dropdown__link p,
.dropdown__sublink p {
  letter-spacing: -1px;
}

.dropdown__link i,
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
  background-color: #fff;
  color: hsl(220, 24%, 15%);
}

.dropdown__menu,
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/*=============== SWIPER ===============*/
.swiper-wrapper {
  margin-top: 5rem;
}
.swiper-wrapper .slide {
  display: flex;
  height: 63rem;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
}
.swiper-wrapper .slide .content_2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  max-width: 58rem;
  height: 100%;
}
.swiper-wrapper .slide .content_2 h3 {
  font-size: 5rem;
  color: hsl(220, 100%, 99%);
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  text-align: justify;
}
.swiper-wrapper .slide .content_2 p {
  font-size: 1rem;
  line-height: 1;
  color: #d9d9d9;
  padding: 1rem 0;
}
.swiper-wrapper .slide .content_2 span {
  color: #3876bf;
  font-weight: 500;
}
.swiper-wrapper .slide .content_2 a {
  cursor: pointer;
}

/*=============== MODAL ===============*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5em;
  max-width: 40ch;
  z-index: 9999;
  border: 0;
  border-radius: 10px;
  transition: 0.5s ease-in;
  background-color: #386196;
}
.modal > * {
  margin: 0 0 0.5rem 0;
}
.modal::backdrop {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.modal .close i {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  padding: 0 5px 0 0;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
}
.modal .content {
  min-width: 350px;
  max-height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.modal .content .main-content {
  position: absolute;
  margin-top: 10px;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal .content .main-content h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
}
.modal .content .main-content p {
  font-size: 15px;
  font-weight: 300;
  color: rgb(200, 200, 200);
}
.modal .content .main-content span {
  color: #fff;
}
.modal .content .buttons-container {
  width: 100%;
  height: 300px;
  display: flex;
  padding: 10px;
  margin-top: 85px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.modal .content .buttons-container .btn {
  width: 250px;
  height: 250px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.modal .content .buttons-container .btn a {
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
  font-weight: 500;
}
.modal .content .buttons-container .btn:hover {
  color: #333;
  transform: scale(110%);
}

/*=============== SMALL ABOUT SECTION ===============*/
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about .section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.about .section-container .box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about .section-container .box .content_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsl(220, 68%, 97%);
}
.about .section-container .box .content_1 h1 {
  line-height: 1.5;
  font-size: 4.5rem;
  font-weight: 700;
  text-align: start;
}
.about .section-container .box .content_1 p {
  text-align: center;
  width: 20rem;
  font-size: 20px;
  font-weight: 500;
}
.about .section-container .box .button-container {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3876bf;
  cursor: pointer;
  width: 200px;
  height: 50px;
  transition: 0.3s ease;
}
.about .section-container .box .button-container:hover {
  transform: scale(110%);
  background-color: #6ec1e4;
  color: #fff;
}
.about .section-container .containers {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
.about .section-container .containers .slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}
.about .section-container .containers .slider {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 8px 9px 25px -8px rgba(0, 0, 0, 0.66);
  border-radius: 1rem;
}
.about .section-container .containers .slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}
.about .section-container .containers .slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.about .section-container .containers .slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.about .section-container .containers .slider-nav a:hover {
  opacity: 2;
}

/*=============== TIMELINE ===============*/
.timeline-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 100px 15px;
}
.timeline-section .long-line {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.timeline-section .long-line::before {
  position: absolute;
  top: 0;
  content: "";
  width: 80%;
  height: 2px;
  background-color: #d6d6d6;
}
.timeline-section .long-line p {
  opacity: 0;
}
.timeline-section .intro-content {
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  display: flex;
  min-height: 120px;
  width: auto;
  margin-top: 120px;
  padding: 15px;
}
.timeline-section .intro-content h2 {
  font-size: 5rem;
  text-align: center;
  color: hsl(220, 68%, 97%);
}
.timeline-section .intro-content p {
  font-size: 2rem;
  line-height: 1.5;
  padding-bottom: 50px;
  font-weight: 500;
  color: hsl(220, 68%, 97%);
}
.timeline-section .timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-section .timeline-items::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #d6d6d6;
  left: calc(50% - 1px);
}
.timeline-section .timeline-items .timeline-item {
  margin-bottom: 40px;
  width: 100%;
}
.timeline-section .timeline-items .timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-section .timeline-items .timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-section .timeline-items .timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
  text-align: left;
}
.timeline-section .timeline-items .timeline-item .timeline-content {
  background-color: hsl(220, 100%, 99%);
  padding: 30px;
  border-radius: 10px;
  color: #333;
  box-shadow: 0px 0px 10px -1px #000000;
}
.timeline-section .timeline-items .timeline-item .timeline-content h3 {
  font-size: 1.1rem;
  color: hsl(204, 100%, 35%);
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 15px;
}
.timeline-section .timeline-items .timeline-item .timeline-content p {
  color: #333;
  font-weight: 300;
  font-size: 1rem;
  line-height: 22px;
}
.timeline-section .timeline-items .timeline-item .timeline-content img {
  margin-top: 40px;
  border-radius: 10px;
  transition: transform 0.4s ease;
  z-index: 8;
}
.timeline-section .timeline-items .timeline-item .timeline-dot {
  height: 16px;
  width: 16px;
  background-color: #d3b037;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
}
.timeline-section .timeline-items .timeline-item .timeline-date {
  font-size: 20px;
  font-weight: 600;
  color: hsl(220, 68%, 97%);
  margin: 6px 0 15px;
}
.timeline-section .last-content {
  position: relative;
  background-color: hsl(220, 68%, 97%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 120px 0 120px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -1px #000000;
}
.timeline-section .last-content h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: hsl(204, 100%, 35%);
}
.timeline-section .last-content h3 {
  font-size: 2rem;
  color: #3876bf;
}
.timeline-section .last-content p {
  text-align: center;
  padding: 20px 20px;
  color: #333;
}

/*=============== TIMELINE ===============*/
/*=============== Footer ===============*/
.footer {
  box-shadow: 0px -2px 17px 3px rgba(0, 0, 0, 0.5);
  padding: 55px 25% 55px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 1rem;
  background-color: hsl(204, 100%, 35%);
  position: absolute;
  left: 0;
  right: 0;
}
.footer .footer-content {
  cursor: pointer;
}
.footer .footer-content img {
  display: inline-flex;
  align-items: center;
  max-width: 250px;
  height: auto;
}
.footer .footer-content h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.footer .footer-content li {
  margin-bottom: 5px;
}
.footer .footer-content li a {
  display: block;
  color: #dbe4e6;
  font-size: 15px;
  font-weight: 400;
  transition: all 0.4s ease;
}
.footer .footer-content li a:hover {
  color: #fff;
}
.footer .footer-content p {
  text-align: center;
  font-size: 15px;
  gap: 5px;
  color: #d9d9d9;
}
.footer .footer-content p i {
  font-size: 20px;
}
.footer .footer-content p:hover {
  color: #fff;
}
.footer .footer-content .text-content {
  display: flex;
  max-width: 400px;
  padding: 10px;
  overflow-x: hidden;
}
.footer .footer-content .text-content p {
  color: #d6d6d6;
  font-size: 16px;
  line-height: 30px;
}
.footer .footer-content .contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .icons i {
  display: inline-block;
  font-size: 50px;
  color: #d6d6d6;
  margin-right: 17px;
  transition: all 0.4s ease;
}
.footer .icons i:hover {
  color: #fff;
  transform: translateY(-3px);
}

/*=============== BACKTOP ===============*/
.back-to-top {
  background-color: #d9d9d9;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 5;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-out;
  border-radius: 15px;
}
.back-to-top i {
  font-size: 60px;
  color: hsl(204, 100%, 35%);
  transition: 0.2s ease-out;
}
.back-to-top i:hover {
  transform: translateY(-4px);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
/*=============== Footer media query start ===============*/
@media screen and (max-width: 1690px) {
  .footer {
    padding: 50px 5% 40px;
  }
}
@media screen and (max-width: 1120px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
  }
}
@media screen and (max-width: 420px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 2.5rem;
  }
  .footer .text-content {
    align-items: center;
    justify-content: center;
  }
  .footer .icons {
    font-size: 50px;
  }
  .footer .footer-content {
    text-align: center;
  }
  .footer .footer-content h4 {
    font-size: 30px;
    font-weight: 700;
  }
  .footer .contact-us {
    align-items: center;
  }
}
/*=============== Footer media query end ===============*/
/*=============== Swiper section start ===============*/
@media screen and (max-width: 768px) {
  .swiper-wrapper .slide {
    height: 37rem;
  }
  .swiper-wrapper .slide .content_2 {
    text-align: center;
    align-items: center;
    margin: 0;
  }
  .swiper-wrapper .slide .content_2 h3 {
    align-items: center;
    font-size: 2rem;
  }
  .about .section-container .box .content_1 {
    align-items: center;
  }
  .about .section-container .box .content_1 h1 {
    text-align: center;
    font-size: 3.5rem;
  }
  .about .section-container .box .content_1 p {
    text-align: center;
  }
}
/*=============== Swiper section end ===============*/
/*=============== Timeline section start ===============*/
@media (max-width: 767px) {
  .timeline-section .intro-content h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .timeline-section .timeline-items::before {
    left: 7px;
  }
  .timeline-section .timeline-items .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-section .timeline-items .timeline-item:nth-child(odd),
  .timeline-section .timeline-items .timeline-item:nth-child(even) {
    padding-left: 37px;
  }
  .timeline-section .timeline-items .timeline-item .timeline-dot {
    left: 0;
  }
  .timeline-section .last-content h1 {
    font-size: 1.5rem;
  }
  .timeline-section .last-content {
    margin: 50px 20px 0 20px;
  }
}
/*=============== Timeline section end ===============*/
/*=============== Nav section start ===============*/
/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }
  .nav {
    height: calc(var(5rem) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }
  .dropdown__item,
  .dropdown__subitem {
    position: relative;
  }
  .dropdown__menu,
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
  }
  .dropdown__link,
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }
  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }
  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: 0.5rem;
  }
  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5rem;
    pointer-events: initial;
  }
  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
  }
}
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }
  .nav__link {
    padding-inline: 1rem;
  }
}
/*=============== Nav section end ===============*/
/*=============== Nav section start ===============*/